@import "@styles/colors";

.password-strength {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 279px;

  &__body {
    display: flex;
    gap: 2px;
  }

  &__bar1,
  &__bar2,
  &__bar3 {
    width: 93px;
    height: 5px;
    background-color: $primary_lightgray;
    transition: all 0.5s;
  }

  &__description {
    position: absolute;
    top: 8px;
    right: 5px;
    align-self: end;
  }
}

.password-strength[data-strength="short"] {
  .password-strength {
    &__bar1,
    &__bar2,
    &__bar3 {
      background-color: $red;
    }

    &__description {
      color: $red;
    }
  }
}

.password-strength[data-strength="weak"] {
  .password-strength {
    &__bar1 {
      background-color: $red;
    }

    &__description {
      color: $red;
    }
  }
}

.password-strength[data-strength="fear"] {
  .password-strength {
    &__bar1,
    &__bar2 {
      background-color: $yellow;
    }

    &__description {
      color: $yellow;
    }
  }
}

.password-strength[data-strength="strong"] {
  .password-strength {
    &__bar1,
    &__bar2,
    &__bar3 {
      background-color: $green;
    }

    &__description {
      color: $green;
    }
  }
}
